{% extends 'admin/base.html' %}

{% block title %} {{title}} | Civil Registration and Vital Statistics System Login{% endblock %}

{% block extrastyle %}
<style>
    #header{
    background-color: #058BCC;
    }
    #branding h1{
       color: white;
    }

    .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #058bcc;
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    font-size: 16px;
    background: #058bcc;
    width : 600px;
}
div.breadcrumbs {
    background: #18a5ea;
}

</style>
{% endblock %}

{% block branding %}
<h1>Civil Registration and Vital Statistics System </h1>
{% endblock%}

{% block content_title %}{% if title %}<h1>Civil Registration and Vital Statistics System </h1>{% endif %}
<div id="content-main">
    <div class="app-{{ app.app_label }} module">
        <table>
            <caption>
                <a href="{{ app.app_url }}" class="section" title="my title">Vital Statistics</a>
            </caption>
            <tbody>
            <tr class="model-birth">
                <th scope="row">
                    <a href="{% url 'cisystem:eligible_list' %}">Eligible List</a>
                </th>
            </tr>
            <tr class="model-birth">
                <th scope="row">
                    <a href="{% url 'cisystem:statistics' %}">Vital Statistics</a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}



