{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'cisystem/css/style.css' %}" type="text/css">

<div class="container">
    <img class="center" src="{% static 'cisystem/images/coat_of_arm.jpeg' %}" height="100px" width="120px"
         alt="coat of arm">
    <h4 class="right">Form</h4>
    <h4 class="right">ORIGINAL</h4>
    <h3 class="center">FEDERAL REPUBLIC OF NIGERIA</h3>
    <h3 class="center">NATIONAL POPULATION COMMISSION</h3>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-4">
            <p class="reg-id">Registration id:</p>

        </div>
        <div class="col-sm-2">
            <p class="reg-id">{{death_obj.certificate_number}}</p>

        </div>
    </div>
    <h3 class="center"><u>CERTIFICATE OF DEATH</u></h3>
    <h5 class="center">Issued under the birth and deaths, etc (Compulsory Registration) Decree 69 of 1992</h5>
    <div class="row">
        <div class="col-sm-4">
            <label class="left">Registration Center</label>
        </div>
        <div class="col-sm-8">
            <p class="left">{{death_obj.registration_center}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label class="left">Town/Village</label>
        </div>
        <div class="col-sm-8">
            <p class="left">{{death_obj.town_or_village_of_registration}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="left">L.G.A</label>
        </div>
        <div class="col-sm-8">
            <p class="left">{{death_obj.LGA_of_registration}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="left">State</label>
        </div>
        <div class="col-sm-4">
            <p class="left">{{death_obj.state_of_registration}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
        <div class="col-sm-2">
            <p class="right">{{death_obj.registered_date.year}}</p>
            <hr class="line" size="6" width="50%" color="black">
            <p class="right">Year</p>
        </div>
        <div class="col-sm-2">
            <p class="right">{{death_obj.entry_no}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p class="right">Entry No.</p>
        </div>
    </div>
    <h5 class="center">This is to certify that the birth record of which are recorded herein, have been registered
        on</h5>
    <div class="row">
        <div class="col-sm-2 top ">
            <p class="right">{{death_obj.registered_date.day}}</p>
            <hr class="line" size="6" width="50%" color="black">
            <p class="right">Day</p>
        </div>
        <div class="col-sm-2 top">
            <p class="right">{{death_obj.registered_date.month}}</p>
            <hr class="line" size="6" width="50%" color="black">
            <p class="right">Month</p>
        </div>
        <div class="col-sm-2 top">
            <p class="right">{{death_obj.registered_date.year}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p class="right">Year</p>
        </div>
        <div class="col-sm-6 top">
            <h5 class="right">at this registration center</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p>1. Full Name</p>
        </div>
        <div class="col-sm-10 top">
            <p class="left2">{{death_obj.surname_of_deceased}} {{death_obj.other_name_of_deceased}}</p>
            <hr size="6" width="100%" color="black">
            <label class="right">(Surname first)</label>
            <label class="right">(in block letters)</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p>2. Sex </p>
        </div>
        <div class="col-sm-2 top ">
            <p class="left2">{{death_obj.sex}}</p>
            <hr class="line" size="6" width="50%" color="black">
        </div>
        <div class="col-sm-2 top">
            <p>3. Date of Death: </p>
        </div>
        <div class="col-sm-2 top">
            <p class="left2">{{death_obj.date_of_death.day}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p>Day</p>
        </div>
        <div class="col-sm-2 top">
            <p class="left2">{{death_obj.date_of_death.month}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p>Month</p>
        </div>
        <div class="col-sm-2 top">
            <p class="left2">{{death_obj.date_of_death.year}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p>Year</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 top ">
            <p>4. Age at Death:</p>
        </div>
        <div class="col-sm-8 top">
            <p class="left2">{{death_obj.age_at_death}}</p>
            <hr size="6" width="100%" color="black">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 top ">
            <p>5. Place of Death:</p>
        </div>
        <div class="col-sm-8 top">
            <p class="left2">{{death_obj.place_of_death}}</p>
            <hr size="6" width="100%" color="black">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 top ">
            <p>6. Full Address of usual Place of Residence of Deceased:</p>
            <p class="left2">{{death_obj.residence_of_deceased}}</p>
            <hr size="6" width="100%" color="black">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p>Place of Issue:</p>
        </div>
        <div class="col-sm-4 top">
            <p class="left2">{{death_obj.place_of_issue}}</p>
            <hr size="6" width="100%" color="black">
        </div>
        <div class="col-sm-4 top">
            <p class="left2">{{death_obj.name_of_registrar}}</p>
            <hr size="6" width="100%" color="black">
            <p class="left2">Name of Registrar</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p>Date:</p>
        </div>
        <div class="col-sm-4 top">
            <p class="left2">{{death_obj.registered_date}}</p>
            <hr size="6" width="100%" color="black">
        </div>
        <div class="col-sm-4">
            <br>
            <hr size="6" width="100%" color="black">
            <p class="left2">Signature of Registrar</p>
        </div>
    </div>
</div>