{% extends 'cisystem/header.html' %}
{% load static %}

{% block body %}
{% if eligible_list %}
<div class="container">
    <div class="eligible_title"><h4 class="title">Eligible List</h4></div>
<table class="table">
  <thead class="table-header">
    <tr>
      <th scope="col">Entry no</th>
      <th scope="col">Surname</th>
      <th scope="col">Other name</th>
      <th scope="col">Age</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Is Dead</th>
    </tr>
  </thead>
  <tbody>
      {% for eligible in eligible_list %}
    <tr>
      <th scope="row">{{eligible.entry_no}}</th>
      <td>{{eligible.surname_of_child}}</td>
      <td>{{eligible.other_name_of_child}}</td>
      <td>{{eligible.child_age}}</td>
      <td>{{eligible.date_of_birth}}</td>
      <td>{{eligible.is_dead}}</td>
    </tr>
  </tbody>
    {% endfor %}

</table>
 </div>
{% else %}
<p>No member of the population is eligible</p>
{% endif %}
{% endblock %}