<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'cisystem/css/style.css' %}" type="text/css">


    <title>Civil Information System</title>
</head>
<body>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4 my-footer">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">CISYSTEM</h5>
                <p>2019 &copy; Copyright All rights reserved</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Contact us</h5>
                <p>Office Address: Akwa Ibom State University</p>
                <p>Akpaden, Akwa Ibom State</p>
            </div>

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Socials</h5>
                    <span class="dot">
                        <label ><i class="fa fa-facebook facebook" style="font-size:24px"></i></label>
                    </span>
                 <span class="dot">
                    <label ><i class="fa fa-twitter twitter" style="font-size:24px"></i></label>
                 </span>
                 <span class="dot">
                    <label ><i class="fa fa-linkedin linkedin" style="font-size:24px"></i></label>
                 </span>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Text -->
</footer>
<!-- Footer -->
{% block body %}
{% endblock %}

</body>
</html>