{% extends 'cisystem/header.html'%}

{% block body %}

{% load static %}
<img src="{%  static 'cisystem/images/surgery.jpg' %}" class="background-image" alt="background image">
<h3 class="welcome">Welcome to Birth & Death Registration System</h3>
<p class="welcome-message">We carter for your birth registraion and death registrations.
    <br>We keep stattics of all birth and death records in Nigeria
</p>
<div class="container my-cards">
    <div class="row justify-content-md-center">
        <div class="col-md-4 col-sm-4 col-sm-offset-4">
            <div class="card birth" style="width: 18rem;">
                <img src="{%  static 'cisystem/images/newborn.jpg' %}" class="card-img-top" alt="new born baby">
                <div class="card-body">
                    <h5 class="card-title">Birth Registration</h5>
                    <p class="card-text">This shows the procedures for birth registration</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card birth" style="width: 18rem;">
                <img src="{%  static 'cisystem/images/clinic.jpg' %}" class="card-img-top" alt="clinic">
                <div class="card-body">
                    <h5 class="card-title">Death Registration</h5>
                    <p class="card-text">This shows the procedures for death registration</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-sm-offset-4">
            <div class="card" style="width: 18rem;">
                <img src="{%  static 'cisystem/images/medical.jpg' %}" class="card-img-top" alt="medical">
                <div class="card-body">
                    <h5 class="card-title">Late Registration</h5>
                    <p class="card-text">This gives the general birth and death statistics in Nigeria</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'cisystem/footer.html'%}

{% endblock %}

