
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'cisystem/css/style.css' %}" type="text/css">

<div class="container">
    <img class="center" src="{% static 'cisystem/images/coat_of_arm.jpeg' %}" height="100px" width="120px"
         alt="coat of arm">
    <h4 class="right">Form</h4>
    <h4 class="right">ORIGINAL</h4>
    <h3 class="center">FEDERAL REPUBLIC OF NIGERIA</h3>
    <h3 class="center">NATIONAL POPULATION COMMISSION</h3>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-4">
            <p class="reg-id">Registration id:</p>
        </div>
        <div class="col-sm-2">
            <p class="reg-id">{{obj.certificate_number}}</p>

        </div>
    </div>
    <h3 class="center"><u>CERTIFICATE OF BIRTH</u></h3>
    <h5 class="center">Issued under the birth and deaths, etc (Compulsory Registration) Decree 69 of 1992</h5>
    <div class="row">
        <div class="col-sm-4">
            <label class="left"><b>Registration Center</b></label>
        </div>
        <div class="col-sm-8">
            <p class="left">{{obj.registration_center}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label class="left"><b>Town/Village</b></label>
        </div>
        <div class="col-sm-8">
            <p class="left">{{obj.town_or_village_of_registration}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="left"><b>L.G.A</b></label>
        </div>
        <div class="col-sm-8">
            <p class="left">{{obj.LGA_of_registration}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="left"><b>State</b></label>
        </div>
        <div class="col-sm-4">
            <p class="left">{{obj.state_of_registration}}</p>
            <hr class="line" size="6" width="100%" color="black">
        </div>
        <div class="col-sm-2">
            <p class="right">{{obj.registered_date.year}}</p>
            <hr class="line" size="6" width="50%" color="black">
            <p class="right"><b>Year</b></p>
        </div>
        <div class="col-sm-2">
            <p class="right">{{obj.entry_no}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p class="right"><b>Entry No.</b></p>
        </div>
    </div>
    <h5 class="center">This is to certify that the birth record of which are recorded herein, have been registered
        on</h5>
    <div class="row">
        <div class="col-sm-2 top ">
            <p class="right">{{obj.registered_date.day}}</p>
            <hr class="line" size="6" width="50%" color="black">
            <p class="right"><b>Day</b></p>
        </div>
        <div class="col-sm-2 top">
            <p class="right">{{obj.registered_date.month}}</p>
            <hr class="line" size="6" width="50%" color="black">
            <p class="right"><b>Month</b></p>
        </div>
        <div class="col-sm-2 top">
            <p class="right">{{obj.registered_date.year}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p class="right"><b>Year</b></p>
        </div>
        <div class="col-sm-6 top">
            <h5 class="right">at this registration center</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p><b>1. Full Name</b></p>
        </div>
        <div class="col-sm-10 top">
            <p class="left2">{{obj.surname_of_child}}  {{obj.other_name_of_child}}</p>
            <hr size="6" width="100%" color="black">
            <label class="right"><b>(Surname first)</b></label>
            <label class="right"><b>(in block letters)</b></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p><b>2. Sex </b></p>
        </div>
        <div class="col-sm-2 top ">
            <p class="left2">{{obj.sex}}</p>
            <hr class="line" size="6" width="50%" color="black">
        </div>
        <div class="col-sm-2 top">
            <p><b>3. Date of birth: </b></p>
        </div>
        <div class="col-sm-2 top">
            <p class="left2">{{obj.date_of_birth.day}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p><b>Day</b></p>
        </div>
        <div class="col-sm-2 top">
            <p class="left2">{{obj.date_of_birth.month}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p><b>Month</b></p>
        </div>
        <div class="col-sm-2 top">
            <p class="left2">{{obj.date_of_birth.year}}</p>
            <hr class="line2" size="6" width="50%" color="black">
            <p><b>Year</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 top ">
            <p><b>4. Place of Birth:</b></p>
        </div>
        <div class="col-sm-8 top">
            <p class="left2">{{obj.place_of_birth}}</p>
            <hr size="6" width="100%" color="black">
        </div>
        <div class="col-sm-2 top ">
            <p><b>Town/Village</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 top ">
            <p><b>5. Full name of Father:</b></p>
        </div>
        <div class="col-sm-8 top">
            <p class="left2">{{obj.surname_of_father}} {{obj.other_name_of_father}}</p>
            <hr size="6" width="100%" color="black">
            <label class="right"><b>(Surname first)</b></label>
            <label class="right"><b>(in block letters)</b></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 top ">
            <p><b>6. Full name of Mother:</b></p>
        </div>
        <div class="col-sm-8 top">
            <p class="left2">{{obj.surname_of_mother}}  {{obj.other_name_of_mother}}</p>
            <hr size="6" width="100%" color="black">
            <label class="right"><b>(Surname first)</b></label>
            <label class="right"><b>(in block letters)</b></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p><b>Place of Issue:</b></p>
        </div>
        <div class="col-sm-4 top">
            <p class="left2">{{obj.place_of_issue}}</p>
            <hr size="6" width="100%" color="black">
        </div>
        <div class="col-sm-4 top">
            <p class="left2">{{obj.name_of_registrar}}</p>
            <hr size="6" width="100%" color="black">
            <p class="left2"><b>Name of Registrar</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 top ">
            <p><b>Date:</b></p>
        </div>
        <div class="col-sm-4 top">
            <p class="left2">{{obj.registered_date}}</p>
            <hr size="6" width="100%" color="black">
        </div>
        <div class="col-sm-4 top">
            <br>
            <hr size="6" width="100%" color="black">
            <p class="left2"><b>Signature of Registrar</b></p>
        </div>
    </div>
</div>