.header{
    height : 50px;
    width : 100%;
    top : 0;
    position : absolute;
    background-color : #f2f2f2;
}

body, img{
margin : 0;
}

li {
display : inline;
padding : 8px;
}

.my-footer{
min-height : 200px;
background-color : #3d3d3d;
color : #f6f6f6
}

.dot {
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.twitter, .linkedin, .facebook{
margin-top : 4px;
margin-left : 8px;
margin-right : 8px;
color : #B6B6B6;
}

.background-image{
    width: 100%;
}

.eligible_title{
    margin-top : 24px;
    margin-bottom : 24px;
    color: #038bcc;;
}
.table-header{
    background-color: #038bcc;
    width: 100%;
    color:white;
}
.welcome, .welcome-message{
text-align : center;
margin: 24px;
}
.welcome-message{
    font-size : 18px;
}
.my-card{
    margin-bottom: 24px;
}

.try-again {
   color: inherit;
   text-decoration: inherit;
}

.error-page{
margin-top: 24px;
}

.center, .heading{
  display: block;
  text-align : center;
  margin-top : 8px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.heading{
background-color: #038bcc;
color: white;
width : 100%;
padding: 8px;
}

.reg-id{
font-weight : bold;
font-size : 18px;
margin-top : 8px;
}

.right, .reg-id{
text-align : right;
margin-right : 80px;
}

.left{
text-align : left;
font-size : 18px;
margin-top : 8px;
margin-left : 24px;
}

.dotted_underline{
font-size : 18px;
margin-left : 24px;
padding : 8px;
text-decoration: underline  dotted black;
}

.line{
margin-bottom : 10px;
}

.line2{
margin-bottom : 10px;
margin-left : 8px;
}

.top{
margin-top : 8px;
}
.top2{
margin-top : 18px;
}
.left2{
text-align : left;
margin-left : 24px;
}